{% extends "base.html" %}
{% block torso %}
            <div class="intro">
                <img src="static\logo.png" alt="GuestTox's Logo" id="GuestTox-logo">
                <h1 id="GuestTox-title">GuestTox</h1>
                <p class="intro-paragraph">14 year old developer from </p><h5 class="intro-paragraph" id="algeria-span">Algeria</h5>
            </div>
            <div class="about">
                <h1>Who am I?</h1>
                <p>I am GuestTox aka Sami, a 14 year old who has a passion for computers and modern technology.</p>
                <p>I have been a programmer for over a year and I like to experiment with AI and cybersecurity.</p>
                <p>My main goals is to become an expert in hacking, but also to master the new technology of AI.</p>
                
                <h1>Experience</h1>
                <p>I have done freelancing and mainly worked on solo projects.</p>
                <p>I am a passionist self-taught developer, although I plan on making programming my career.</p>

                <h1>Skills</h1>
                <p>I know many technologies such as:</p>
                <div class="skills-lang">
                    <p>Languages</p>
                    <ul id="lang-list">
                        <li> <img src="" alt=""> Python</li>
                        <li> <img src="" alt=""> JavaScript</li>
                        <li> <img src="" alt=""> TypeScript</li>
                        <li> <img src="" alt=""> C++</li>
                        <li> <img src="" alt=""> C#</li>
                        <li> <img src="" alt=""> Java</li>
                        <li> <img src="" alt=""> HTML & CSS</li>
                        <li> <img src="" alt=""> Bash</li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}