{% extends "base.html" %}

{% block torso %}
<div class="intro">
                <img src="static/logo.png" alt="GuestTox's Logo" id="GuestTox-logo">
                <h1 id="GuestTox-title">GuestTox</h1>
                <p class="intro-paragraph">14 year old developer from </p><h5 class="intro-paragraph" id="algeria-span">Algeria</h5>
            </div>
            <div class="discord-info">
                <img id="discord-pfp" class="upper" src="" alt="GuestTox's Discord PFP">
                <h1 id="discord-username" class="upper KOText">GuestTox#0001</h1>
                <ul class="badges"></ul>
                <div class="discord-activity">
                    <h1 id="discord-activity-text" class="KOText">Currently not doing anything.</h1>
                </div>
            </div>
        </div>
{% endblock %}